
.navbar {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  box-shadow: 0 1px 3px -2px black;
  
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-logo p {
  color: var(--main-color);
  font-size: 48px;
  font-weight: 600;
  font-family: "Great Vibes", cursive;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 50px;
  color: black;
  font-size: 20px;
  font-weight: 500;
  
   
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
  
 
}

.nav-menu hr {
  border: none;
   width: 80%;
  height: 3px;
  border-radius: 10px;
  background: var(--secondary-color);
}

.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 45px;
}

.nav-login-cart button {
  width: 157px;
  height: 58px;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid #252525;
  overflow: hidden;
  border-radius: 30px;
  color: #333;
  transition: all 0.5s ease-in-out;
  font-size: 17px;
  font-weight: 500;
}
.nav-login-cart button:hover{
  box-shadow: 1px 1px 10px #111111;
  color: black;
  border: none;
}









.nav-cart-count{
  width:22px;
  height:22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -35px;
  margin-left: -55px;
  border-radius: 11px;
  font-size: 14px;
  background: var(--main-color);
  color: white;

}
a:-webkit-any-link {
    color: black;}